#!/usr/bin/env zsh

{{ if (and .home .home.packages) -}}
packages=(
{{- range .home.packages }}
  {{ . | quote }}
{{- end }}
)

echo "Installing auth packages..."
yay -S --needed --noconfirm "${packages[@]}"
{{ end -}}
