* {
  border: none;
  font-family: Noto Sans, JetBrainsMono Nerd Font;
  {{ if eq .chezmoi.hostname "mojo" }}
  font-size: 32px;
  {{ else }}
  font-size: 20px;
  {{ end }}
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 1;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  padding: 3px 18px;
  margin: 3px 3px 0px 3px;
  border-radius: 15px;
  background-color: #000;
  color: #6c7891;
}

#workspaces button.active {
  color: #8ba4b0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #7fb4ca;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#temperature,
#cpu,
#tray {
  border-radius: 15px;
  margin: 3px 3px 0px 3px;
  padding: 3px 12px;
  color: #fff;
  background-color: #000;
}

#memory {
  color: #c4746e;
}

#battery {
  color: #f38ba8;
}

@keyframes blink {
  to {
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #ff0048;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: #a6e3a1;
}

#temperature {
  color: #87a987;
}

#temperature.critical {
  color: #e46876;
}

#cpu {
  color: #a292a3;
}

#backlight {
  color: #fab387;
}

#pulseaudio {
  color: #8a9a7b;
}

#network {
  color: #8ba4b0;
}

#clock {
  color: #a292a3;
}

#custom-power {
  color: #f2cdcd;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
