Host aur.archlinux.org
	User aur

Host *
	IdentityAgent ~/.1password/agent.sock
	ServerAliveInterval 30

Host bastion-staging
	HostName 35.86.41.10
	User ec2-user
	IdentityFile ~/.ssh/bastion-staging.pub
	IdentitiesOnly yes
	ForwardAgent yes

Host bastion-prod
	HostName 54.202.126.40
	User ec2-user
	IdentityFile ~/.ssh/bastion-prod.pub
	IdentitiesOnly yes
	ForwardAgent yes
