[push]
	autoSetupRemote = true
[user]
	name = Josh Elias
	email = josh@daemontech.tools
	signingkey = {{ onepasswordRead "op://yrmjsjaoghsj2ok7nvrkwpiqxy/ycb3tshcicfluucou5gvlj34n4/password" }}
[pull]
	rebase = false
[commit]
	gpgsign = true
