[push]
	autoSetupRemote = true
[user]
	name = Josh Elias
	email = josh@daemontech.tools
	signingkey = {{ onepasswordRead "op://yrmjsjaoghsj2ok7nvrkwpiqxy/zl5emjbe4miyyiu5zykp3xvw6m/cioktz57mdukiuum4ih45tiua4" }}
[pull]
	rebase = false
[commit]
	gpgsign = true
