[push]
	autoSetupRemote = true
[user]
	name = Josh Elias
	email = josh@daemontech.tools
	signingkey = {{ onepasswordRead "op://jnox3nd5qafh74kompobi2wacu/eodspntfksmdiqdxuwsnjadhty/password" "VHHMMKCIRND47EPJFN6KTFYMTY" }}
[pull]
	rebase = false
[commit]
  gpgsign = true
