[default]
aws_access_key_id = {{ onepasswordRead "op://yrmjsjaoghsj2ok7nvrkwpiqxy/zl5emjbe4miyyiu5zykp3xvw6m/uhvapxmqp2fc6pbrrdzwsrgmwa" }}
aws_secret_access_key = {{ onepasswordRead "op://yrmjsjaoghsj2ok7nvrkwpiqxy/zl5emjbe4miyyiu5zykp3xvw6m/7hjlvf2ycxrpwos5ncvubhxol4" }}
