{{ if eq .chezmoi.hostname "mojo" }}
$bgImg = $XDG_CONFIG_HOME/hypr/wallpaper/dark-shore.jpg
{{ else if eq .chezmoi.hostname "daemon" }}
$bgImg = $XDG_CONFIG_HOME/hypr/wallpaper/aurora-lake.jpg
{{ else }}
$bgImg = $XDG_CONFIG_HOME/hypr/wallpaper/dark-shore.jpg
{{ end }}

preload = $bgImg
splash = false

{{ if eq .chezmoi.hostname "mojo" }}
wallpaper {
    monitor = HDMI-A-1
    path = $bgImg
    fit_mode = cover
}
{{ else if eq .chezmoi.hostname "demi" }}
wallpaper {
    monitor = eDP-1
    path = $bgImg
    fit_mode = cover
}
{{ else if eq .chezmoi.hostname "daemon" }}
wallpaper {
    monitor = DP-1
    path = $bgImg
    fit_mode = cover
}
wallpaper {
    monitor = DP-2
    path = $bgImg
    fit_mode = cover
}
{{ end }}
