{{ if eq .chezmoi.hostname "daemon" }}
workspace = 1, monitor:DP-1, persistent:true, default:true
workspace = 10, monitor:DP-2, persistent:true, default:true, layoutopt:orientation:top
{{ end }}

# Fix some dragging issues with XWayland
# windowrule = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:

# windowrule {
#     name = xwayland-video-bridge-fixes
#     match:class = xwaylandvideobridge
#
#     no_initial_focus = true
#     no_focus = true
#     no_anim = true
#     no_blur = true
#     max_size = 1 1
#     opacity = 0.0
# }

# windowrule = immediate, title:^(THE FINALS)$
# windowrule = immediate, title:^(Pal)$
# #windowrule = workspace 2, class:^(Slack)$
# #windowrule = workspace 2, class:^(signal)$
# windowrule = workspace 2, class:^(obsidian)$
# windowrule = workspace 1, title:^(Path of Exile)$
# windowrule = immediate, title:^(Path of Exile)$
# windowrule = immediate, title:^(DOOMEternal)$
# windowrule = immediate, title:^(Need for Speed™ Heat)$
# windowrule = immediate, title:^(Baldur's Gate 3)$
# windowrule = immediate, title:^(Cyberpunk 2077)$
# windowrule = immediate, title:^(Resident Evil 4)$

