{{- if and .is_desktop .is_workstation -}}
monitor = DP-1, 3840x2160@119.94, 0x0, 1, bitdepth, 10, vrr, 2, cm, hdr, sdrbrightness, 1.20
monitor = DP-2, 2560x1440@59.95, 3840x0, 1, bitdepth, 10, transform, 3
{{- end -}}
