{{- $is_desktop := true -}}
{{- $is_workstation := true -}}
{{- if eq .chezmoi.hostname "demi" -}}
    {{- $is_desktop = false -}}
{{- else if eq .chezmoi.hostname "mojo" -}}
    {{- $is_workstation = false -}}
{{- end -}}

[data]
    is_desktop = {{ $is_desktop }}
    is_workstation = {{ $is_workstation }}

[onepassword]
    mode = "service"
